<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/fragment-new :: assets" />
	<body>
		<aside id="left-panel" class="left-panel">
        	<div th:replace = "fragments/fragment-new :: left-panel"></div>
		</aside>
		<div id="right-panel" class="right-panel">
			<div th:replace = "fragments/fragment-new :: right-panel"></div>
			<div class="container">
			<div class="card">
                            <div class="card-header bg-info text-white">
                                <strong>Form</strong> <small> Ajukan Pengajuan</small>
                            </div>
                            <div class="card-body">
							<form id="addPengajuan" action="/pengajuan/tambah/submit" method="post">
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="">Mata Kuliah</label>
								</div>
								<div class="form-group col-md-6">
									<select id="idLowongan" name="idLowongan" class="form-control">
										<option th:selected="true" th:disabled="true" value="" th:text="'Pilih Pengajuan Mata Kuliah'"></option>
										<option th:each="allLowongans: ${allLowonganDTO}" th:text="${allLowongans.namaMatkul}" th:value="${allLowongans.id}"></option>
									</select>
								</div>
								<div class="form-group col-md-12 text-right">
									<input onclick="myFunction()" type="button" class="btn btn-success" value="Simpan"></input>
								</div>
							</form>
							</div>
						</div>
					</div>
				
			</div>
		</div>
		
	</body> 
</html>
<script>
	function myFunction() {
		var lowongan;
		lowongan = document.getElementById("idLowongan").value;
		if (lowongan == ""){
			alert("Mata kuliah harus dipilih!");
		}
		else {
			document.forms["addPengajuan"].submit();
		}
	}
</script>