<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Not Found</title>
		<head th:replace="fragments/fragment-new :: assets" />
	</head>
	<body>
		<aside id="left-panel" class="left-panel">
    		<div th:replace = "fragments/fragment-new :: left-panel"></div>
		</aside>
		<div id="right-panel" class="right-panel">
			<div th:replace = "fragments/fragment-new :: right-panel"></div>
				<div class="container">
					<h2>Not Found</h2>
					<h5 th:text="'Id ' + ${idlowongan} + ' tidak ditemukan'"></h5>
				</div>
		</div>
	</body>
</html>