<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Success Delete</title>
		<head th:replace="fragments/fragment-new :: assets" />
	</head>
	<body>
		<aside id="left-panel" class="left-panel">
    		<div th:replace = "fragments/fragment-new :: left-panel"></div>
		</aside>
		<div id="right-panel" class="right-panel">
			<div th:replace = "fragments/fragment-new :: right-panel"></div>
			<div class="container">
				
				<div class="card">
                            <div class="card-header bg-danger text-white">
                                <strong>Berhasil</strong> <small> Menghapus Data</small>
                            </div>
                            <div class="card-body card-block">
								<h5 th:text="${message}"></h5>
							</div>
				</div>
			
			</div>
		</div>
	</body>
</html>