<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Lihat Pengajuan</title>
		<div th:replace="fragments/fragment-new :: assets"></div>
	</head>
	<body>
	<aside id="left-panel" class="left-panel">
    	<div th:replace = "fragments/fragment-new :: left-panel"></div>
	</aside>
	<div id="right-panel" class="right-panel">
		<div th:replace = "fragments/fragment-new :: right-panel"></div>
			<br/>
			<div class="container">
			<div class="card">
                            <div class="card-header bg-dark text-white">
                                <strong>Form</strong> <small> Ubah Pengajuan</small>
                            </div>
                            <div class="card-body">		
								<div class="row">
									<form class="" id="myForm" action="/pengajuan/review/submit" method="post">			
										<div class="form-group col-md-4">
											<label for="mk">Lowongan</label> 
										</div>
										<div class="form-group col-md-6">
											<input class="form-control" style="width:50%" type="text" name="matkul" th:value="${matkul.namaMatkul}" readonly="true"/>
										</div>
										<div class="form-group col-md-4">
											<label for="mk">Nama Mahasiswa</label> 
										</div>
										<div class="form-group col-md-6">
											<input class="form-control" style="width:50%" type="text" name="nama_mahasiswa" th:value="${mahasiswa.nama}" readonly="true"/>
										</div>		
										<div class="form-group col-md-4">
											<label for="sl">Status Lowongan</label> 
										</div>
										
										<div class="form-group col-md-6">
												
												<select class="form-control" id="status_pengajuan" th:field="*{pengajuan.isAccepted}" th:value="${pengajuan.isAccepted}">
												    <option value=0>Ditolak</option>
												    <option value=1>Diterima</option>
												    <option value=2>Pending</option>
												    
												</select>
											</div>
									</div>
									<input type="hidden" th:value="${pengajuan.id}" name="id"></input>
									<input type="hidden" th:value="${pengajuan.idLowongan}" name="idLowongan"></input>
									<input type="hidden" th:value="${pengajuan.usernameMhs}" name="usernameMhs"></input>
									<div class="form-group col-md-6">
										
										<a href="#" data-toggle="modal" data-target="#updateModal" class="btn btn-success text-white"><i class="fa fa-save"></i> Save</a>
											
											<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
								                    <div class="modal-dialog modal-md" role="document">
								                        <div class="modal-content">
								                            <div class="modal-header">
								                                <h5 class="modal-title" id="smallmodalLabel">Ubah Status Pengajuan</h5>
								                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								                                    <span aria-hidden="true">&times;</span>
								                                </button>
								                            </div>
								                            <div class="modal-body">
								                            <p align="left"> Apakah anda yakin ? <br /></p>
								                                			<button onclick="myFunction()" type="submit" class="btn btn-danger">Yes</button>
														                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
													            
								                            </div>
								                            
								                        </div>
								                    </div>
								                </div>
									</div>
								</form>
							</div>
						</div>
				</div>
	</div>
</body>
</html>
<script>
	function myFunction() {
		var is_accepted;
		is_accepted = document.getElementById("is_accepted").value;
		if (is_accepted == 1){
			alert("Penghapusan tidak dapat dilakukan karena mahasiswa telah diterima");
		}
		else {
			document.forms["myForm"].submit();
		}
	}
</script>