<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/fragment-new :: assets" />
	<body>
		<aside id="left-panel" class="left-panel">
        	<div th:replace = "fragments/fragment-new :: left-panel"></div>
		</aside>
		<div id="right-panel" class="right-panel">
			<div th:replace = "fragments/fragment-new :: right-panel"></div>
			<br/>
			<div class="container">
				<div class="card">
                            <div class="card-header bg-success text-white">
                                <strong>Form</strong> <small> Ubah Lowongan</small>
                            </div>
                            <div class="card-body card-block">
								<form class="" id="myForm" action="/lowongan/ubah/submit" method="post">
									<div class="form-row">
										<div class="form-group col-md-4">
											<label for="matakuliah">Mata Kuliah</label>
										</div>
										<div class="form-group col-md-6">
											<input class="form-control" type="text" name="matakuliah" th:value="${matkul.namaMatkul}" readonly="readonly"/>
										</div>
										<div class="form-group col-md-4">
											<label for="status">Status Lowongan</label>
										</div>
										<div class="form-group col-md-6">
											<select class="form-control" name="isOpen">
												<option th:value="${lowongan.isOpen}" th:text="${lowongan.isOpen == 1} ? 'Buka' : 'Tutup'" th:selected="true"></option>
												<option value=0 th:if="${lowongan.isOpen != 0}" th:text="Tutup"></option>
												<option value=1 th:if="${lowongan.isOpen != 1}" th:text="Buka"></option>
											</select>
										</div>
										<div class="form-group col-md-4">
											<label for="jml_slot">Jumlah Slot</label>
										</div>
										<div class="form-group col-md-6">
											<input class="form-control" type="text" id="jml_slot" name="jml_slot" th:value="${lowongan.jmlLowongan}"/><br/>
										</div>
										<input type="hidden" th:value="${id_lowongan}" name="id_lowongan"></input>
										<input type="hidden" th:value="${matkul.id}" name="id_matkul"></input>
										<div class="form-group col-md-12 text-right">
											<a href="#" data-toggle="modal" data-target="#updateModal" class="text-white btn btn-success"><i class="fa fa-save"></i> Save</a>
											<a th:href="'/lowongan/viewall'">
													<button type="button" class="btn btn-danger">Cancel</button>
											</a>
											
											
											<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
								                    <div class="modal-dialog modal-md" role="document">
								                        <div class="modal-content">
								                            <div class="modal-header">
								                                <h5 class="modal-title" id="smallmodalLabel">Ubah Lowongan</h5>
								                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								                                    <span aria-hidden="true">&times;</span>
								                                </button>
								                            </div>
								                            <div class="modal-body">
								                            <p align="left"> Apakah anda yakin ? <br /></p>
								                                			<input onclick="basicValidation()" type="button" class="btn btn-success" value="Yes" />
														                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
													            
								                            </div>
								                            
								                        </div>
								                    </div>
								                </div>
										</div>
									</div>
								</form>
							</div>
						</div>
			</div>
		</div>
		<script type="text/javascript">
			function basicValidation() {
				var jmlSlot;
				jmlSlot = document.getElementById("jml_slot").value;
				if (jmlSlot == ""){
					alert("Jumlah slot tidak boleh kosong!");
				}
				else {
					document.forms["myForm"].submit();
				}
			}
		</script>
	</body>
</html>