<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/fragment-new :: assets" />
	<body>
		<aside id="left-panel" class="left-panel">
        	<div th:replace = "fragments/fragment-new :: left-panel"></div>
		</aside>
		<div id="right-panel" class="right-panel">
			<div th:replace = "fragments/fragment-new :: right-panel"></div>
			<div class="container">
				<br />
				<form>
					<div class="form-row">						
						<div class="form-group col-md-4">
							<label for="mk">Mata Kuliah</label> 
						</div>
						<div class="form-group col-md-6">
							<input class="form-control" type="text" name="mk" th:value="${matkul.namaMatkul}" readonly />		
						</div>
						<div class="form-group col-md-4">
							<label for="mk">Daftar Ruangan</label> 
						</div>
						<div class="form-group col-md-6">
							<table>
								<div th:if="${ruangan.isEmpty()}">
									<tr>
									 <td th:text="'Data Ruangan Tidak Ada'"></td>
									 </tr>
								</div>
								<div th:unless="${ruangan.isEmpty()}">
									<tr th:each="ruangan,iterationStatus: ${ruangan}">
									 <td th:text="' ' + ${ruangan.nama}"></td>
									 </tr>
								</div>
								
									
									
								
							</table>		
						</div>
						<div class="form-group col-md-4">
							<label for="sl">Status Lowongan</label> 
						</div>
						<div class="form-group col-md-6">
							<input class="form-control" type="text" name="sl" th:value="${isopen==1}?'Buka':'Tutup'" readonly />
						</div>
						<div class="form-group col-md-4">
							<label for="jml" >Jumlah Slot Asisten</label>
						</div>
						<div class="form-group col-md-6">
							<input class="form-control" type="text" name="jml" th:value="${lm.jmlLowongan}+' Asisten'" readonly />
						</div>
						<div th:if="${#httpServletRequest.isUserInRole('dosen')}" class="form-group col-md-12 text-right">
							<a th:href="@{/lowongan/ubah/} + ${lm.id}"><input type="button" name="btnUpdate" class="btn btn-primary" value="Update" /></a>
							<a th:href="@{/lowongan/hapus/} + ${lm.id}"><input type="button" name="btnDelete" class="btn btn-danger" value="Delete" /></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>

