<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace = "fragments/fragment-new :: assets" />
    <body>
    	<aside id="left-panel" class="left-panel">
        	<div th:replace = "fragments/fragment-new :: left-panel"></div>
		</aside>
		<div id="right-panel" class="right-panel">
			<div th:replace = "fragments/fragment-new :: right-panel"></div>
        <div class="container">
		<h1 align="center">All Pengajuan Table</h1>
		
		        <table id="PengajuanTable" class="display">
		        
			       <thead class="thead-dark">
			            <tr>
			            	<th>No</th>
			            	<th>Id Lowongan</th>
			                <th>Nama Mata Kuliah</th>
							<th>Dosen</th>
			                <th>Status Lowongan</th>
			                <th>Jumlah Lowongan</th>
			            </tr>
			        </thead>
			        
			        <tbody>
		                <tr th:each="allPengajuans,iterationStatus: ${AllpengajuanDTO}">
		                	<td th:text="' ' + ${iterationStatus.count}"></td>
		                	<td th:text="' ' + ${allPengajuans.id}"></td>
							<td th:text="' ' + ${allPengajuans.namaDosen}"></td>
							<td th:text="' ' + ${allPengajuans.namaMatkul}"></td>
							<td th:text= "' ' + ${allPengajuans.statusLowongan ==1} ? 'Buka':'Tutup'"></td>
							<td th:text="' ' + ${allPengajuans.jumlahLowongan}"></td>
		                </tr>
		            </tbody>
		    		</table>
		    		</div>
		</div>
	<script>
	    		$(document).ready( function () {
	    			$('#PengajuanTable').DataTable({
			        "info":     false
			    	});
			} );	
	</script>
	
    </body>
</html>