<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${pageTitle}"></title>
        <!-- jQuery -->
		<script src="/js/jquery-3.2.1.js"></script>
		<!-- dataTables -->
		<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="/css/datatables.css" rel="stylesheet" type="text/css" />   
		<script src="/js/datatables.js"></script>
		<div th:replace = "fragments/fragment-new :: assets" ></div>		
    </head>
    
    <body>
    
        
        <aside id="left-panel" class="left-panel">
        		<div th:replace = "fragments/fragment-new :: left-panel"></div>
		</aside>
		<div id="right-panel" class="right-panel">
					<div th:replace = "fragments/fragment-new :: right-panel"></div>
						
						<div class="container">
						        <table id="lowonganTable" class="display" style="margin-left='15px'">
						        
							       <thead class="thead-dark">
							            <tr>
							            	<th>No</th>
							                <th>Id Lowongan</th>
											<th>Nama Mata Kuliah</th>
							                <th>Status</th>
							                <th>Jumlah Lowongan</th>
							            </tr>
							        </thead>
							        
							        <tbody>
						                <tr th:each="allLowongans,iterationStatus: ${allLowonganDTO}">
						                	<td th:text="' ' + ${iterationStatus.count}"></td>
											<td th:text="' ' + ${allLowongans.id}"></td>
											<td th:text="' ' + ${allLowongans.namaMatkul}"></td>
											<td th:text= "' ' + ${allLowongans.isOpen ==1} ? 'Buka':'Tutup'"></td>
											<td th:text="' ' + ${allLowongans.jmlLowongan}"></td>
						                </tr>
						            </tbody>
						    		</table>
						    </div>
		</div>
	<script>
	    		$(document).ready( function () {
	    			$('#lowonganTable').DataTable({
			        "info":     false
			    	});
			} );	
	</script>
	
	
	
    </body>
</html>