<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="assets">
	<meta charset="UTF-8">
	<title th:text="${pageTitle}"></title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet" />
	
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<style>
		html, body {
		  height: 100%;
		  margin: 0;
		}
		.wrapper {
		  min-height: 100%;
		
		  /* Equal to height of footer */
		  /* But also accounting for potential margin-bottom of last child */
		  margin-bottom: -50px;
		}
		.footer,
		.push {
		  height: 50px;
		}
	</style>
</head>
<body>
	<div th:fragment="header">
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
				<a class="navbar-brand" href="/">SIAsisten</a>
				<button class="navbar-toggler" type="button" 
					data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-exapanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown" th:classappend="${pageTitle == 'Home' ? 'active':''}">
							<a class="nav-link dropdown-toggle" href="#"
								id="navbarDropdownMenuLink" data-toggle="dropdown">
								Lowongan
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#">Lihat Lowongan</a>
								<a class="dropdown-item" href="#">Tambah Lowongan</a>
							</div>
						</li>
					</ul>
					
					<div class="form-inline my-2 my-lg-0 text-right">
						<div th:if="${#httpServletRequest.remoteUser} == null">
							<a href="/login">
					    		<input type="submit" class="btn btn-success" value="Sign In" />
					    	</a>
						</div>
						<div th:unless="${#httpServletRequest.remoteUser} == null">
						    <form th:action="@{/logout}" method="post" class="form-inline">
						    	<p th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}" 
									class="text-white" style="margin-top:10px; margin-right:10px;">Login as</p>
						    	<input type="submit" class="btn btn-xs btn-danger" value="Sign Out" />
						    </form>
					    </div>
					</div>
				</div>
			</nav>
		</header>
	</div>
	<div th:fragment="footer">
		<footer class="footer bd-footer text-muted text-center">
			<hr />
	      	<div class="container">
	        	<p class="text-muted">Copyright &copy; 2018 SIAsisten by A Team<br/><span class="text-muter">Fakultas Ilmu Komputer Universitas Indonesia</span></p>
	      	</div>
	    </footer>
	</div>
</body>
</html>