<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="assets">
		<meta charset="utf-8">
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  	<meta name="description" content="">
	  	<meta name="author" content="">
	  	<title th:text="${pageTitle}"></title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet" />
		<link th:href="@{/css/datatables.min.css}" rel="stylesheet" />   
		
		<link th:href="@{/new/css/font-awesome.min.css}" rel="stylesheet" />
		<link th:href="@{/new/css/normalize.css}" rel="stylesheet" />
		<link th:href="@{/new/css/themify-icons.css}" rel="stylesheet" />
		<link th:href="@{/new/css/cs-skin-elastic.css}" rel="stylesheet" />
		<link th:href="@{/new/scss/style.css}" rel="stylesheet" />
	
	  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	  	
	  	<script th:src="@{/new/js/vendor/jquery-2.1.4.min.js}"></script>
		<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js}"></script>
			
	   <script th:src="@{/new/js/plugins.js}"></script>
	   <script th:src="@{/new/js/main.js}"></script>

	   <!-- <script th:src="@{/new/js/widgets.js}"></script> -->
	   <script th:src="@{/js/bootstrap.min.js}"></script>
	   <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	   <script th:src="@{/js/datatables.min.js}"></script>
	</head>
	<body>
		<!-- Left Panel --> 
    	<div th:fragment="left-panel">
      		<nav class="navbar navbar-expand-sm navbar-default">
          		<div class="navbar-header">
              		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                  		<i class="fa fa-bars"></i>
	              	</button>
	              	<a class="navbar-brand" th:href="@{/home}"><b>SIASISTEN</b></a>
	              	<a class="navbar-brand hidden" th:href="@{/home}"><img src="/images/logo2.png" alt="Logo"></a>
	          	</div>
	          	<div id="main-menu" class="main-menu collapse navbar-collapse">
              		<ul class="nav navbar-nav">
                  		<!-- <li class="active">
                      		<a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
	                  	</li> -->
	                  	<!-- <h3 class="menu-title">SI ASISTEN</h3>/.menu-title -->
	                  	<li class="menu-item-has-children dropdown">
	                      	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa fa-laptop"></i>Pengajuan Lowongan</a>
	                      	<ul class="sub-menu children dropdown-menu">
                          		<li><i class="fa fa-puzzle-piece"></i><a th:href="@{/home}">Pengajuan Lowongan</a></li>
	                          	<li><i class="fa fa-id-badge"></i><a th:href="@{/home}">Lihat Pengajuan</a></li>                            
	                      	</ul>
	                  	</li>
	                  	<li class="menu-item-has-children dropdown">
                      		<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Lowongan</a>
	                      	<ul class="sub-menu children dropdown-menu">
                          		<li><i class="fa fa-table"></i><a th:href="@{/lowongan/viewall}">Lihat Lowongan</a></li>
                          		<li th:if="${#httpServletRequest.isUserInRole('dosen')}"><i class="fa fa-puzzle-piece"></i><a th:href="@{/lowongan/tambah}">Rekam Lowongan</a></li>
	                      	</ul>
	                  	</li>
		              </ul>
		          </div><!-- /.navbar-collapse -->
		      </nav>
	  	</div>
	  	<!-- Left Panel -->	
	  	<!-- Right Panel -->
      	<div th:fragment="right-panel">
   			<!-- Header-->
	      	<header id="header" class="header">	
          		<div class="header-menu">	
              		<div class="col-sm-7">
                  		<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                  		<div class="header-left">
                      		<h1 th:text="${pageTitle}"></h1>                        
	                  	</div>
	              	</div>
	              	<div class="col-sm-5">                		
                  		<div th:unless="${#httpServletRequest.remoteUser} == null" class="user-area dropdown float-right">                          
                       		<form th:action="@{/logout}" method="post">
                       	 		<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                          		<b th:text=" 'Login As ' + ${#httpServletRequest.remoteUser}" class="text-black" style="margin-top:10px; margin-right:10px;"></b>
		                          	<input type="submit" class="btn btn-xs btn-danger" value="Sign Out" />
                          	  	</a>
                        	</form>
                  		</div>
	              	</div>
	          	</div>
	      	</header><!-- /header -->
      		<!-- Header-->   
      	</div>	    
	</body>
</html>
