<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/Bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/Bootstrap/css/bootstrap-datepicker.min.css" />
	<script type="text/javascript" src="/jQuery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/Bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/Bootstrap/js/bootstrap-datepicker.min.js"></script>
<meta charset="ISO-8859-1">
<title>Notif</title>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div><a>Data Berhasil Ditambahkan</a></div>
	<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>